<div class="row">
    <h2 class="tittle"><i class="fa fa-check-circle-o"></i> Add User</h2>
</div>

<div class="row">
    <div class="col-md-5" ng-controller="addUserController">
        <form ng-submit="saveUser()" class="form-horizontal">
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" placeholder="Name" id="name" class="form-control" ng-model="user.name"/>
            </div>
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" id="email" required ng-model="user.email" class="form-control" placeholder="Email"/>
            </div>
            <div class="form-group">
                <label for="techid">Tech Code: </label>
                <input type="text" id="techid" placeholder="Tech Code" class="form-control" ng-model="user.techid"/>
            </div>
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" placeholder="Username" id="username" class="form-control" required
                       ng-model="user.username"/>
            </div>
            <div class="form-group">
                <label for="role">User Role: </label>
                <select id="role" ng-model="user.role" class="dropdown">
                    <option value="admin">Admin</option>
                    <option value="tech" selected>Technician</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" id="password" class="form-control" placeholder="Password" required
                       ng-model="user.password"/>
            </div>

            <div class="form-group">
                <input type="checkbox" id="notify" ng-model="user.notify">
                <label for="notify">Notify user by email</label>
            </div>
            <button class="btn btn btn-danger" type="submit">Register</button>
            <button class="btn  btn-default" ng-click="clear()">Clear Data</button>

        </form>
    </div>
</div>