<div class="row">
    <div class="col-md-5">
        <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#fakelink">Users List</a></li>
                    <li><a href="#fakelink">Add User</a></li>
                    <li><a href="#fakelink">Reset Password</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>