<div class="row">
    <h2 class="tittle"><i class="fa fa-check-circle-o"></i> Reset user password</h2>
</div>


<div class="row" ng-controller="listUserController">
    <form ng-submit="resetPassword()">
        <label for="red">Selected user:</label>
        <select id="red" ng-model="resetUser">
            <option ng-repeat="user in userList" value="{{user.uuid}}">{{user.name}}</option>
        </select>
        <button class="btn  btn-info" type="submit">Reset Password</button>
    </form>
</div>