<div class="row">
    <h2 class="tittle"><i class="fa fa-check-circle-o"></i> Users list</h2>
</div>

<div class="row">
    <div class="col-md-12 table-responsive" ng-controller="listUserController">
        <table class="table table-condensed">
            <thead >
            <th class="text-center">#</th>
            <th class="text-center">Username</th>
            <th class="text-center">Name</th>
            <th class="text-center">Created</th>
            <th class="text-center">Email</th>
            <th class="text-center">Role</th>
            <th></th>
            </thead>
            <tbody class="text-center">
            <tr ng-repeat="user in userList">
                <td>{{$index+1}}</td>
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
                <td>{{user.created | date:'shortDate'}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="remove(user)">Remove</button>
                </td>
                <td>
                    <button class="btn btn-primary" ui-sref="app.admin.updateuser({uuid: '{{user.uuid}}'})">Update</button>
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="reset(user.uuid)">Reset Password</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>