<div class="row">
    <h2 class="tittle"><i class="fa fa-bar-chart-o"></i> User Dashboard</h2>
    <button class="btn btn-lg  btn-info radius border-style ">Info Alert</button>
    <button class="btn btn-lg  btn-warning radius border-style ">Warning Alert</button>
    <button class="btn btn-lg  btn-success radius border-style "> System alert</button>
</div>

<div class="row">
    <h2 class="tittle"><i class="fa fa-th-list"></i> Technicians Activities</h2>
</div>
