<aside class="hidden-sm hidden-xs">
    <div class="col-md-2 sidebar">
        <ul class="navigation">
            <span> Technicians</span>
            <li><a ui-sref="app.tech"><i class="fa fa-check-circle-o"></i> Quality Control</a></li>
            <li><a ui-sref="app.tech.qc"><i class="fa fa-camera"></i> QA Capture</a></li>
            <li><a ui-sref="app.tech.qr"><i class="fa fa-file-text"></i> QA Reports</a></li>
            <li><a href="#"><i class="fa fa-key"></i> Management</a></li>
            <hr>
            <span> Users</span>
            <li><a ui-sref="app.admin.adduser"><i class="fa fa-check-circle-o"></i> Add User</a></li>
            <li><a ui-sref="app.admin.listuser"><i class="fa fa-camera"></i> User List</a></li>
            <li><a ui-sref="app.admin.resetpass"><i class="fa fa-file-text"></i> Reset password</a></li>
        </ul>
    </div>
</aside>