<div class="row">
    <h2 class="tittle"><i class="fa fa-check-circle-o"></i> Quality Capture</h2>
</div>

<div class="container" ng-controller="qualityControlController">
    <div class="row">
        <div class="col-md-10">
            <div id="pluploadContainer" class="dropzone">
                <span>Drop Zone</span>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="" method="get" accept-charset="utf-8">
            <div class="row">
                <div class="row">
                    <label for="activityNum">Activity Number </label>
                    <input type="email" class="small" id="activityNum">
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <label for="activityNum">Date </label>
                    <input type="date" class="small" id="date">
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <label for="activityNum">Comments</label>
                    <textarea class="col-sm-6"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <label for="activityNum">Tags</label>
                    <input type="email" class="small" id="activityNum">
                </div>
            </div>

            <a class="button primary large" ng-click="test()">Send</a>
            <a href="#" class="button secondary large">Clear</a>
        </form>

    </div>
</div>
