<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="es"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"
          content="Premier Installers LLC">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.min.css">-->
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/login.css">
    <link href="/assets/img/favicon.png" rel="icon" type="image/x-icon"/>
    <title>Premier installers Login</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4 loginBox text-center text-uppercase">
            <div class="row">
                <span><i class="fa fa-key icon"></i></span>

                <!--<h1 class="text-uppercase">Login</h1>-->
            </div>
            <form action="/users/session" method="post">
                <div class="row padding-top-lg">
                    <div class="col-md-12">
                        <input type="text" class="form-control input-lg" id="username" name="username"
                               placeholder="username"/>
                        <input type="password" name="password" id="password" class="form-control input-lg"/>
                    </div>
                </div>
                <div class="row padding-top">
                    <div class="col-md-12">
                        <button class="btn btn-block btn-primary"><i class="fa fa-check big"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>