body {
    background-color: #D8D6D1;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.loginBox {
    margin-top: 100px;
    padding: 3rem;
    background-color: #ffffff;
}

.loginBox h1{
    font-weight: 100;
}
.icon {
    font-size: 140px;
    color: #F22613;
}

input{
    font-weight: 100;
    font-size: 20px;
}

.big{
    font-weight: 100;
    font-size: 50px;
}

.padding-top{
    padding-top: 1rem;
}


.padding-top-lg{
    padding-top: 4rem;
}