
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.main {
    margin-top: 30px;
   /*// padding: 0 50px;*/
}

.featured {
    font-color: #FFF;
    padding: 15px;
    font-weight: lighter;
}

.welcome {
    background-color: #e4652d;
    padding: 2rem;
}

/** customs features **/
.text.white h3 {
    color: #ffffff;
}

.text.white {
    color: #ffffff;
    font-weight: 700;
}

.text.thin {
    font-weight: 100;
}

.tittle {
    padding-bottom: 4px;
    border-bottom: 1px solid #999;
}

.dropzone {
    background-color: #e4652d;
    text-align: center;
    font-size: 45px;
    min-height: 250px;
    color: #FFFFFF;
    padding: 2rem;
    margin: 1rem;
    font-weight: 100;
}

.notification {

    text-align: center;
    font-size: 45px;
    min-height: 100px;
    color: #FFFFFF;
    padding: 2rem;
    font-weight: 100;
}

.notification.info {
    background-color: #2791d9;
}

.notification.danger {
    background-color: #FF0000;
}

.notification.warning {
    background-color: #E87E04;
}

.notification.system {
    background-color: #3A539B;
}

/** end of customs **/

label {
    font-weight: 400;
}

.navigation {
    font-weight: 100;

}

.navigation li a {
    font-size: 18px;
}

/*Overwritting*/
/*input {*/
/*font-weight: 400;*/
/*}*/

textarea {
    font-weight: 400;
}

.navbar-default .navbar-brand, .navbar-default .navbar-link {
    color: #FFFFFF;
}

.btn.transparent {
    background-color: #37BC9B;
    border-color: #ffffff;
    color: #FFFFFF;
    border-radius: 0px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #FFFFFF;
}

.navigation-bar {
    background: #e4652d;
    height: 70px;
    margin-bottom: 0px;
    overflow: hidden;
    font-weight: 300;
    border-bottom: 1px solid #db571c;
}

.navigation-bar ul li a {
    display: block;
    padding: 0 23.33333px;
    height: 70px;
    line-height: 70px;
    color: white;
}

.navigation-bar ul li a:hover {
    text-decoration: none;
    color: white;
}

.navigation-bar ul li.divider {
    height: 70px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation-bar .button {

    font-size: 0.875rem;
    height: 35px;
    line-height: 35px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 17.5px;
}

.padding-top-lg {
    padding-top: 2rem;
}

.margin-top-lg {
    padding-top: 4rem;
}