.sidebar{
    background-color: #37BC9B;
}
.navigation {
    margin: 0;
    padding: 0;
    color: #5f6f81;
    list-style: none;
    text-transform: none;
    font-weight: 100;
    line-height: 60px;
}

.navigation li {
    display: block;
    height: 100%;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.navigation li a{
    color: #FFFFFF;

}

.navigation span{
    font-weight: 700;
    font-size: 20px;
    color:#FFFFFF;
}

.nav li a{
    position: relative;
    display: block;
    color: #FFFFFF;
}