<header>
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavBarCtrl" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="isCollapsed = true"
                        ng-click="isCollapsed = !isCollapsed" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Incoterms Negotiation</a>
            </div>

            <div class="nav-collapse" collapse="isCollapsed">
                <ul class="nav">
                    <span> Technicians</span>
                    <li><a ng-click="go('app.tech.qc')"><i class="fa fa-check-circle-o"></i> Quality Control</a></li>
                    <li><a ng-click="go('app.tech.qc')"><i class="fa fa-camera"></i> QA Capture</a></li>
                    <li><a ng-click="go('app.tech.qr')"><i class="fa fa-file-text"></i> QA Reports</a></li>
                    <li><a href="#"><i class="fa fa-key"></i> Management</a></li>
                    <hr>
                    <span> Users</span>
                    <li><a ng-click="go('app.admin.adduser')"><i class="fa fa-check-circle-o"></i> Add User</a></li>
                    <li><a ng-click="go('app.admin.listuser')"><i class="fa fa-camera"></i> User List</a></li>
                    <li><a ng-click="go('app.admin.resetpass')"><i class="fa fa-file-text"></i> Reset password</a></li>
                </ul>
                <ul class="dropdown-menu nav" role="menu" aria-labelledby="drop1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Action</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Another
                            action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Something
                            else here</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Separated
                            link</a></li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn transparent navbar-btn" href="#"><i class="fa fa-chevron-circle-right"></i>
                            Sign out!</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    </div>
</header>